## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

### Step 1: Loading the Dataset from the CSV File

In [1]:
# Your code here - remember to use markdown cells for comments as well!
# Import Python frameworks
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
# Loading the data as panda dataframe into the df variable
df = pd.read_csv("data/Aviation_Data.csv")
type(df)

/tmp/ipykernel_17900/1053872567.py:2: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/Aviation_Data.csv")

pandas.core.frame.DataFrame

### Step 2: Understanding the Data

In [4]:
#This is a user defined function that helps you understand the data 
def inspect_dataset(path):
    df=pd.read_csv(path)
    print('--------data describe-------')
    print(df.describe())
    print('--------data info------')
    print(df.info())
    print('-------data shape----')
    print(df.shape)
    return inspect_dataset

In [ ]:
# Using the defined function for detailed description
inspect_dataset("data/Aviation_Data.csv")

/tmp/ipykernel_17900/301064420.py:3: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(path)

--------data describe-------
       Number.of.Engines  Total.Fatal.Injuries  Total.Serious.Injuries  \
count       82805.000000          77488.000000            76379.000000
mean            1.146585              0.647855                0.279881
std             0.446510              5.485960                1.544084
min             0.000000              0.000000                0.000000
25%             1.000000              0.000000                0.000000
50%             1.000000              0.000000                0.000000
75%             1.000000              0.000000                0.000000
max             8.000000            349.000000              161.000000

       Total.Minor.Injuries  Total.Uninjured
count          76956.000000     82977.000000
mean               0.357061         5.325440
std                2.235625        27.913634
min                0.000000         0.000000
25%                0.000000         0.000000
50%                0.000000         1.000000
75%                0.000000         2.000000
max              380.000000       699.000000
--------data info------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB
None
-------data shape----
(90348, 31)

### Step 3: Check and Handle missing values

In [7]:
#Checking the first 10 rows of the dataset
df.head(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,NaN,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
6,20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
9,20020909X01560,Accident,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,NaN,NaN,JAX,JACKSONVILLE INTL,...,Personal,NaN,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01-01-1982

In [8]:
#it checks for missing (NaN) values in each column of your DataFrame and returns a count of missing values per column.

df.isnull().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40216
Airport.Name              37644
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2841
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8555
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7843
Publication.Date          16689
dtype: int64

In [12]:
#user defined data audit

def data_audit(df):
    print('Column list:')
    print(df.columns.tolist())

    print('\nBasic info:')
    df.info(show_counts=True)

    print('\nMissing value counts:')
    missing = df.isnull().sum().sort_values(ascending=False)
    return missing[missing>0]

In [13]:
#Conducting the audit
data_audit(df)

Column list:
['event.id', 'investigation.type', 'accident.number', 'event.date', 'location', 'country', 'latitude', 'longitude', 'airport.code', 'airport.name', 'injury.severity', 'aircraft.damage', 'aircraft.category', 'registration.number', 'make', 'model', 'amateur.built', 'number.of.engines', 'engine.type', 'far.description', 'schedule', 'purpose.of.flight', 'air.carrier', 'total.fatal.injuries', 'total.serious.injuries', 'total.minor.injuries', 'total.uninjured', 'weather.condition', 'broad.phase.of.flight', 'report.status', 'publication.date']

Basic info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event.id                88889 non-null  object
 1   investigation.type      90348 non-null  object
 2   accident.number         88889 non-null  object
 3   event.date              88889 non-null  object
 4   location                88837 non-null  object
 5   country                 88663 non-null  object
 6   latitude                34382 non-null  object
 7   longitude               34373 non-null  object
 8   airport.code            50132 non-null  object
 9   airport.name            52704 non-null  object
 10  injury.severity         87889 non-null  object
 11  aircraft.damage         85695 non-null  object
 12  aircraft.category       32287 non-null  object
 13  registration.number     87507 non-null  object
 14  make                    88826 non-null  object
 15  model                   88797 non-null  object
 16  amateur.built           88787 non-null  object
 17  number.of.engines       82805 non-null  float64
 18  engine.type             81793 non-null  object
 19  far.description         32023 non-null  object
 20  schedule                12582 non-null  object
 21  purpose.of.flight       82697 non-null  object
 22  air.carrier             16648 non-null  object
 23  total.fatal.injuries    77488 non-null  float64
 24  total.serious.injuries  76379 non-null  float64
 25  total.minor.injuries    76956 non-null  float64
 26  total.uninjured         82977 non-null  float64
 27  weather.condition       84397 non-null  object
 28  broad.phase.of.flight   61724 non-null  object
 29  report.status           82505 non-null  object
 30  publication.date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

Missing value counts:

schedule                  77766
air.carrier               73700
far.description           58325
aircraft.category         58061
longitude                 55975
latitude                  55966
airport.code              40216
airport.name              37644
broad.phase.of.flight     28624
publication.date          16689
total.serious.injuries    13969
total.minor.injuries      13392
total.fatal.injuries      12860
engine.type                8555
report.status              7843
purpose.of.flight          7651
number.of.engines          7543
total.uninjured            7371
weather.condition          5951
aircraft.damage            4653
registration.number        2841
injury.severity            2459
country                    1685
amateur.built              1561
model                      1551
make                       1522
location                   1511
event.date                 1459
event.id                   1459
accident.number            1459
dtype: int64